{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- simple about us section -->
<div class="overlay"></div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6"> 
            <div class="card shadow mb-4">
                <div class="card-header bg-dark text-light">
                    <h5 class="mb-0">About Us</h5>
                </div>
                <div class="card-body bg-light">
                    <p>Welcome to Clare Golf Store, your premier destination for all things golf in Clare, Ireland!</p>
                
                    <p>Founded in 1975, Clare Golf Store started as a small shop attached to Clare Golf Club. Over the years, we have grown into one of Ireland's biggest online golf stores, serving golf enthusiasts from Clare and beyond.</p>
                
                    <p>At Clare Golf Store, we are passionate about golf and dedicated to providing exceptional products and services to our customers. Whether you're a seasoned pro or just starting out, we have everything you need to elevate your game.</p>
                
                    <p>Our extensive range of products includes golf clubs, apparel, accessories, and more, sourced from leading brands in the industry. We also offer professional fitting services to ensure that you find the perfect equipment tailored to your unique needs and preferences.</p>
                
                    <p>Located in the beautiful county of Clare, Ireland, our store is a hub for golf enthusiasts seeking top-quality gear and expert advice. We take pride in our commitment to customer satisfaction and strive to exceed expectations with every purchase.</p>
                
                    <p>Thank you for choosing Clare Golf Store as your trusted golfing partner. Whether you're teeing off at the local course or competing on the international stage, we're here to support your journey every step of the way.</p>
                </div>
            </div>
        </div>
    </div>
    <!--  google maps of our location -->
    <div class="row justify-content-center mt-4">
        <div class="col-lg-6 text-center">
            <h5 class="mb-3">Location</h5>
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12149.155029239988!2d-8.972795407074191!3d52.699054401593054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b5f6a6c75f4b3%3A0xa00c7a997b17210!2sShannon%2C%20Co.%20Clare!5e0!3m2!1sen!2sie!4v1620455452205!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>    
</div>
{% endblock %}

