{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6"> 
            <div class="card shadow mb-4">
                <div class="card-header bg-dark text-light">
                    <h5 class="mb-0">Privacy Policy</h5>
                </div>
                <div class="card-body bg-light">
                    <p>At Clare Golf Store, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that Clare Golf Store collects and records and how we use it.</p>
                    
                    <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
                    
                    <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website regarding the information they share and/or collect at Clare Golf Store. This policy is not applicable to any information collected offline or via channels other than this website.</p>
                    
                    <h2>Consent</h2>
                    
                    <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
                    
                    <h2>Information We Collect</h2>
                    
                    <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
                    
                    <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
                    
                    <h2>How We Use Your Information</h2>
                    
                    <p>We use the information we collect in various ways, including to:</p>
                    
                    <ul>
                        <li>Provide, operate, and maintain our website</li>
                        <li>Improve, personalize, and expand our website</li>
                        <li>Understand and analyze how you use our website</li>
                        <li>Develop new products, services, features, and functionality</li>
                        <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
                        <li>Send you emails</li>
                        <li>Find and prevent fraud</li>
                    </ul>
                    
                    <h2>Log Files</h2>
                    
                    <p>Clare Golf Store follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this, and a part of hosting services' analytics. The information collected by log files includes internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-lg-6 text-center">
            <h5 class="mb-3">Have Questions?</h5>
            <a href="{% url 'contact' %}" class="btn btn-dark">Contact Us</a>
        </div>
    </div>
</div>
{% endblock %}

