{% extends 'base.html' %}
{% load static %}

{% block title %}Appointments - Clare Golf Store{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div> 
{% endblock %}
 
{% block content %}
<div class="overlay"></div>
<h1 class="text-center mt-5" style=" text-decoration: underline 1px solid;">{{ user }}'s Appointments</h1>
{% if appointments %}
<p class="text-center">Number of appointments: {{ appointments.count }}</p>
<div class="row justify-content-center" style="min-height: 400px;">
    <!-- display all appointments using a for loop --> 
    {% for appointment in appointments %}
    <div class="col-md-4 mb-4">
        <div class="card border-black bg-dark text-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Appointment Details</h5>
                <p class="card-text">
                    <strong>Date:</strong> {{ appointment.appointment_date }}<br>
                    <strong>Time:</strong> {{ appointment.appointment_time }}<br>
                    <strong>Customer:</strong> {{ appointment.customer }}<br>
                    <strong>Fitter:</strong> {{ appointment.fitter }}<br>
                    <strong>Club:</strong> {{ appointment.club }}<br>
                    <strong>Service:</strong> {{ appointment.service }}
                </p>
                <div class="d-flex justify-content-between">
                    <a href="{% url 'edit_appointment' appointment.id %}" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger delete-button" data-appointment-id="{{ appointment.id }}" data-toggle="modal" data-target="#deleteModal{{ appointment.id }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal to confirm deletion of an appointment -->
    <div class="modal fade" id="deleteModal{{ appointment.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ appointment.id }}"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel{{ appointment.id }}">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this appointment?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'delete_appointment' appointment.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<!-- if there are no appointments display this -->
<div class="row justify-content-center mt-5" style="min-height: 400px;">
    <div class="col-md-4 mb-4">
        <div class="card border-black bg-dark text-light mb-3 text-center">
            <h2 class="card-header bg-light text-dark mb-3">No appointments found.</h2>
            <h5>Why not make an appointment today?</h5>
            <p>If you don't buy the clubs you are being fitted for you don't pay!</p>
        </div>
        <span class="inline-text">
            <a href="{% url 'book_appointment' %}" class="btn btn-dark btn-lg mt-3 mr-3">Book now!</a>
            <a href="{% url 'products' %}?category=Drivers,Woods,Irons,Wedges,Putter" class="btn btn-dark btn-lg mt-3">Browse Clubs!</a>
        </span>
    </div>
</div>
{% endif %}

<!-- import jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Script for closing the modal when delete button is clicked -->
<script>
    $(document).ready(function () {
        $('.delete-button').click(function (event) {
            event.preventDefault();
            var appointmentId = $(this).data('appointment-id');
            $('#deleteModal' + appointmentId).modal('show');
        });
    });
</script>
{% endblock %}
