{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-6">
                <h2 class="logo-font mb-4">Club Fitting</h2>
                <h5 class="text-muted">Book a Club Fitting</h5>
                <hr>
                <!-- form to book a club fitting -->
                <form method="post" class="form mb-2">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field | as_crispy_field }}
                        </div>
                    {% endfor %}
                    <div class="text-right">
                        <a href="{% url 'home' %}" class="btn btn-outline-black rounded-pill" role="button">Cancel</a>
                        <button class="btn btn-dark rounded-pill" type="submit">Book Fitting</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6">
                <!-- information about a club fiitng -->
                <h2 class="logo-font mb-4">Details</h2>
                <h5 class="text-muted">Club Fitting Information</h5>
                <hr>
                <div class="card">
                    <div class="card-header bg-dark text-light">
                        <h5 class="mb-0">Club Fitting Process</h5>
                    </div>    
                    <div class="card-body">
                        <p class="card-text">
                            At Clare Golf Store, we offer professional club fitting services to ensure you get the best performance from your clubs. Our fitting process is simple and effective:
                        </p>
                        <ul>
                            <li>One of our experienced pros will conduct the fitting session with you.</li>
                            <li>We'll analyze your swing, stance, and other factors to recommend the best clubs for your game.</li>
                            <li>The fitting session is completely free of charge. You only pay if you decide to purchase the clubs we recommend.</li>
                            <li>Our goal is to help you improve your game with the right equipment tailored to your needs.</li>
                        </ul>
                        <p class="card-text">
                            Don't miss out on this opportunity to optimize your game with the right clubs. Book your fitting session today and take the first step towards better performance on the course.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


 