html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
    overflow-x: hidden;
}


/*  nav styling */

.nav-link:hover {
    transform: rotate(1deg);
    transition: transform 0.3s ease;
}

/*  hero styling */

.hero {
    background-image: url('https://res.cloudinary.com/dnrt6ufwp/image/upload/v1715881263/ball-black-white-golf_edqdnz.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: 80vh;
    display: flex;
    align-items: center;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.25rem;
}

.hero .btn {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
}

/* product card styling */

.card:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease;
}

.card i:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

/* contact us form */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-form .form-control {
    width: 100%;
}
.form-content {
    width: 100%;
}
.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.form-group {
    margin-bottom: 1rem;
}

/* map styling */

.map-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #f0f0f0;
    border: 1px solid #ddd;
}

.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


/* footer styling */

.fa-facebook-f:hover {
    color: #1877F2; /* Facebook blue  */
    transform: rotate(5deg);
    transition: transform 0.3s ease;
}
.fab.fa-linkedin-in:hover {
    color: #0A66C2; /* Linked in blue  */
    transform: rotate(-5deg);
    transition: transform 0.3s ease;
}
.fab.fa-twitter:hover {
    color: #1DA1F2; /* twitter blue  */
    transform: rotate(5deg);
    transition: transform 0.3s ease;
}
.fab.fa-github:hover{
    color: #181717; /* github black */
    transform: rotate(-5deg);
    transition: transform 0.3s ease;
}

/* profile styling  */

.nav-pills .nav-link {
    color: #343a40; 
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #f8f9faf; 
    background-color: #212529; 
    border-color: #343a40; 
    border-radius: 50px;
}

/* appointment screen */

.inline-text {
    display: inline-block;
    text-align: center;
    width: 100%; /* Ensure the text spans the full width of the column */
    margin-top: 10px; /* Add some space between the card and the span */
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}
 
.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #f8f9fa;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #292b2c !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-button:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.btt-link,
.update-link,
.remove-item,
a {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ----------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* search bar and icon styling */

.search-form .form-control {
    background-color: #f8f9fa; 
    color: #495057; 
    box-shadow: none; 
    padding-right: 45px; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
}

.search-form .btn {
    background-color: #f8f9fa; 
    color: #495057; 
    border: 1px solid #ced4da; 
    z-index: 1; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
}

.search-form .btn:hover {
    background-color: #f8f9fa; 
}

.search-form .btn:focus {
    box-shadow: none;
}

/* Styling the "Keep Shopping" button */
.btn-outline-black {
    color: #343a40; /* Text color */
    border-color: #343a40; /* Border color */
}

.btn-outline-black:hover {
    color: #fff; /* Text color on hover */
    background-color: #343a40; /* Background color on hover */
    border-color: #343a40; /* Border color on hover */
}

/* Styling the "Add to Bag" button */
.btn-black {
    background-color: #343a40; /* Background color */
    border-color: #343a40; /* Border color */
}

.btn-black:hover {
    background-color: #212529; /* Background color on hover */
    border-color: #212529; /* Border color on hover */
}

/* Styling the bag icon */
.btn .fas.fa-shopping-bag {
    margin-right: 5px; /* Adjusting the margin for better alignment */
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Adjusting header padding for medium screens */
@media (min-width: 993px) and (max-width: 1200px) {
    .products-head {
        padding-top: 50px; /* Adjust this value as needed */
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 150px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .3rem .3rem;
        font-size: 1.5rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
    
}
