{% if wishlist.products.all %}
    <h2>Your Wishlist</h2>
    <div class="row">
        {% for product in wishlist.products.all %}
            <div class="col-md-4 mb-4">
                <div class="card border-0 shadow">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text lead font-weight-bold">${{ product.price }}</p>
                        {% if product.rating %}
                        <p class="card-text text-muted"><i class=" text-warning fas fa-star"></i> {{ product.rating }} / 5</p>
                        {% else %}
                        <p class="card-text text-muted">No Rating</p>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-white border-0">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="remove-from-wishlist-btn text-danger" data-product-id="{{ product.id }}" title="Remove from Wishlist" data-toggle="tooltip" data-placement="top">
                                    <i class="fas fa-lg fa-trash-alt"></i>
                                </a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Your wishlist is empty.</p>
{% endif %}
<script>
    $('.remove-from-wishlist-btn').click(function(e) {
        e.preventDefault(); // Prevent the default action of the button
        var productId = $(this).data('product-id');
        var csrfToken = "{{ csrf_token }}";
        var url = `profile/remove/${productId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        // Send a POST request to remove the item from the wishlist
        $.post(url, data)
        .done(function() {
            // Reload the page or update the UI as needed
            location.reload(); // For example, reload the page
        })
        .fail(function() {
            console.error('Failed to remove item from wishlist');
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

