{% load static %}
<footer class="footer bg-dark text-light mt-auto py-2">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Company</h4>
                <ul class="list-group">
                    <li><a href="{% url 'about' %}" class="text-light">About Us</a></li>
                    <li><a href="{% url 'privacy' %}" class="text-light">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Get Help</h4>
                <ul class="list-group">
                    <li><a href="{% url 'contact' %}" class="text-light">Contact Us</a></li>
                    <li><a href="{% url 'shipping' %}" class="text-light">Shipping</a></li>
                    <li><a href="{% url 'payment' %}" class="text-light">Payment Options</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Online Shop</h4>
                <ul class="list-group">
                    <li>
                        <a href="{% url 'products' %}?category=Polos,Trousers,Shorts" class="text-light" aria-label="View all the  clothing products we stock">Clothing</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}?category=Drivers,Woods,Irons,Wedges,Putter" class="text-light" aria-label="View all the Clubs we stock">Clubs</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}?category=Balls,Bags,Accessories,Carts" class="text-light" aria-label="View all the Miscellaneous itesm we have in stock">Miscellaneous</a>
                    </li>
                    <li>
                        <a href="{% url 'book_appointment' %}" class="text-light" aria-label="Book a club fitting with one of our pros">Club  Fitting</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Follow Us</h4>
                <div class="social-links mt-3">
                    <a href="https://www.facebook.com/profile.php?id=61559525444996" target="_blank" class="text-light mr-3"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="https://x.com/jkirkby95" target="_blank" class="text-light mr-3"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="https://www.linkedin.com/in/jack-kirkby-b3a1a5270/" target="_blank" class="text-light mr-3"><i class="fab fa-linkedin-in fa-lg"></i></a>
                    <a href="https://github.com/JKirkby95" class="text-light" target="_blank"><i class="fab fa-github fa-lg"></i></a>
                </div>
                
            </div>
        </div>
    </div>
</footer>
