<footer class="footer bg-dark text-white">
    <div class="container my-2">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Company</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">About Us</a></li>
                    <li><a href="#" class="text-white">Our Services</a></li>
                    <li><a href="#" class="text-white">Privacy Policy</a></li>
                    <li><a href="#" class="text-white">Affiliate Program</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Get Help</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">FAQ</a></li>
                    <li><a href="#" class="text-white">Shipping</a></li>
                    <li><a href="#" class="text-white">Returns</a></li>
                    <li><a href="#" class="text-white">Order Status</a></li>
                    <li><a href="#" class="text-white">Payment Options</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Online Shop</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Watch</a></li>
                    <li><a href="#" class="text-white">Bag</a></li>
                    <li><a href="#" class="text-white">Shoes</a></li>
                    <li><a href="#" class="text-white">Dress</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#" class="text-white" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://github.com/JKirkby95" class="text-white" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
