<footer class="footer bg-white text-black mt-auto">
    <div class="container my-2">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Company</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-black">About Us</a></li>
                    <li><a href="#" class="text-black">Our Services</a></li>
                    <li><a href="#" class="text-black">Privacy Policy</a></li>
                    <li><a href="#" class="text-black">Affiliate Program</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Get Help</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-black">FAQ</a></li>
                    <li><a href="#" class="text-black">Shipping</a></li>
                    <li><a href="#" class="text-black">Returns</a></li>
                    <li><a href="#" class="text-black">Order Status</a></li>
                    <li><a href="#" class="text-black">Payment Options</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Online Shop</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'products' %}?category=Polos,Trousers,Shorts" class="text-black" aria-label="View all the  clothing products we stock">Clothing</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}?category=Drivers,Woods,Irons,Wedges,Putter" class="text-black" aria-label="View all the Clubs we stock">Clubs</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}?category=Balls,Bags,Accessories,Carts" class="text-black" aria-label="View all the Miscellaneous itesm we have in stock">Miscellaneous</a>
                    </li>
                    <li>
                        <a href="{% url 'book_appointment' %}" class="text-black" aria-label="Book a club fitting with one of our pros">Club  Fitting</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#" class="text-black" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-black" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-black" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://github.com/JKirkby95" class="text-black" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
