<div class="collapse navbar-collapse text-light" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link  text-light mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Products
                </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  text-light mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=Polos," class="dropdown-item">Polos</a>
                <a href="{% url 'products' %}?category=Trousers" class="dropdown-item">Trousers</a>
                <a href="{% url 'products' %}?category=Shorts" class="dropdown-item">Shorts</a>
                <a href="{% url 'products' %}?category=Polos,Trousers,Shorts" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  text-light mr-5" href="#" id="clubs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clubs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clubs-link">
                <a href="{% url 'products' %}?category=Drivers" class="dropdown-item">Drivers</a>
                <a href="{% url 'products' %}?category=Woods" class="dropdown-item">Woods</a>
                <a href="{% url 'products' %}?category=Irons" class="dropdown-item">Irons</a>
                <a href="{% url 'products' %}?category=Wedges" class="dropdown-item">Wedges</a>
                <a href="{% url 'products' %}?category=Putter" class="dropdown-item">Putter</a>
                <a href="{% url 'products' %}?category=Drivers,Woods,Irons,Wedges,Putter" class="dropdown-item">All Clubs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Miscellaneous
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=Accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=Bags" class="dropdown-item">Bags</a>
                <a href="{% url 'products' %}?category=Balls" class="dropdown-item">Balls</a>
                <a href="{% url 'products' %}?category=Carts" class="dropdown-item">Carts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  text-light" href="#" id="club-fitting-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Club Fitting
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="club-fitting-link">
                <a href="{% url 'book_appointment' %}" class="dropdown-item">Book Appointment</a>
                <a href="{% url 'appointments' %}" class="dropdown-item">View Appointments</a>
            </div>
        </li>
    </ul>
</div>